*.rbc
.ruby-version
*.sassc
.project
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/structure.sql
/pkg
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/config/database.yml
/dummy/.bundle/
/dummy/config/database.yml
/dummy/coverage
/dummy/db/structure.sql
/dummy/spec/tmp/*
/dummy/tmp
/dummy/log/*
